$maxWidth: 90vw;

body {
  background-color: darken(rebeccapurple, 30%);
  font-family: sans-serif;
  text-align: center;
}

main {
  max-width: $maxWidth;
  margin: 0 auto;
  padding-top: 1em;
}
h1 {
  width: $maxWidth - 1vw;
  color: #CCC;
  font-weight: normal;
  font-size: 1.5em;
  background: darken(rebeccapurple, 20%);
  box-shadow: 0 0 10px 10px darken(rebeccapurple, 20%);
  padding: 0;
  margin: 0 auto;
}

.quote {
  color: white;
  padding: 0.5em;
  padding-top: 1em;
  min-height: 30vh;
  max-width: 90vw;
  margin: 1em auto;
  background: #555575;
  box-shadow: 4px 4px 2px white;
}

blockquote {
    font-size: 1.5em;
}
button {
  $xMargin: 2em;
  background: #FFF;
  font-size: inherit;
  padding: 0.5em;
  margin-left: $xMargin;
  margin-right: $xMargin;
  margin-bottom: 0.5em;
  border: none;
  border-radius: 5px;
}

p#author::before {
  content: "---------";
  display: block;
}
