body {
  background-color: darken(rebeccapurple, 30%);
  font-family: sans-serif;
  text-align: center;
}

main {
  max-width: 90vw;
  margin: 0 auto;
  padding-top: 1em;
}
h1 {
  color: #CCC;
  font-weight: normal;
  font-size: 1.5em;
  background: darken(rebeccapurple, 10%);
  box-shadow: 0 0 10px 10px darken(rebeccapurple, 10%);
  padding: 0;
}

.quote {
  color: white;
  padding: 0.5em;
  padding-top: 1em;
  min-height: 30vh;
  max-width: 90vw;
  margin: 1em auto;
  background: #555575;
  box-shadow: 4px 4px 2px white;
}

blockquote {
    font-size: 1.5em;
}
button {
  background: #FFF;
  font-size: inherit;
  padding: 0.75em;
  border: none;
  border-radius: 5px;
}

p#author::before {
  content: "- ";
}
